body {
    color: white;
    background-color: rgb(71, 115, 101);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200;
    border-radius: 50%;
    border: 10px solid rgb(29, 184, 29);

}

h1 {
    color: rgb(114, 3, 92);
}

h2 {
    color: rgb(58, 3, 40); 
}

footer img {
        width: 60px;
        height: 60px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

footer p {
    margin-top: 2px;
}
